In [8]:

fhand = open('sample.txt', 'r')
print(fhand.read())

hello
worldnew line added

new line added

new line added

new line added

# Variable Types and Assignment

In [17]:
a= 12
b= 12.0
c= '12'
d= 12 + 0j
e= True
f= 'c'
print(type(a), type(b), type(c), type(d), type(e), type(f))

<class 'int'> <class 'float'> <class 'str'> <class 'complex'> <class 'bool'> <class 'str'>

# Multi-line Assignment

In [18]:
a= 2; b= 2.0; c= '2'; d= 2 + 1j
print(a, b, c, d)

a, b, c, d = 5, 5.0, '5', 5 + 4j
print(a, b, c, d)

2 2.0 2 (2+1j)
5 5.0 5 (5+4j)

# Arithmetic operations

In [19]:
a = 4/2   #returns float
b = 7%2   #yeild remainder
c= 3**2   #yeild 3 raised to the power 2
d = 4//3  #yeild quotient....gives the greatest integer less than the quotient
print(a, b, c, d)

2.0 1 9 1

# Operation naunaces
## floor division

In [20]:
print(10//3)   
print(-10//3)
print(10//-3)
print(-10//-3)
print(3//10)
print(-3//10)
print(3//-10)
print(-3//-10)

3
-4
-4
3
0
-1
-1
0

## modulo operator

In [1]:
# it is evaluated as  a- (b*(a//b))
print(10%3)
print(-10%3)
print(10%-3)
print(-10%-3)
print(3%10)
print(3%-10)
print(-3%10)
print(-3%-10)
# sign of the output depends on the sign of the denominator

1
2
-2
-1
3
-7
7
-3

In [2]:
a = True + True
b = True + False
print(a, b)
while(1):
    print("Hello")
    break

2 1

# Assosiativity and precedence

In [23]:
# PEMDAS
# P -> ()
# E -> **
# M D-> * / // %
# A S -> +-

In [24]:
print(dir(__builtins__))  # to get all the functions in builtins
# there are many builtins module in python like math, cmath, random, decimal

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

# Conversion

In [5]:
x = '11001'
var = 1.12
print(int(x, 6))   #returns  6^4 + 6^3 + 6^0
print(int(x, 2))   #returns 2^4  + 2^3 + 2^0
print(int(x, 8))   #returns 8^4 + 8^3 + 8^0

print(int(var))

var = int(var)     #valid
print(type(var))

print(str(12)) 

print(complex(3.5, -1.2))
i = complex(2.3, 5.1)
j = complex(3, 4)
k = i + j

print(int('1011', 2))
print(int('342', 8))
print(int('14', 16))
print(chr(97))

1513
25
4609
1
<class 'int'>
12
(3.5-1.2j)
11
226
20
a

# Built-in Function

that are commonly used with numbers

In [26]:
# abs()
x =-3
print(abs(x))

3

In [27]:
# pow(x, y)
pow(2, 3)

8

In [28]:
# min(x1, x2, x3, x4.....)
min(2, 6, 1, 9, 3, 5,12)

1

In [29]:
# max(x1, x2, x3,.......)
max(2, 6, 1, 9, 3, 5,12)

12

In [30]:
# divmod(x, y)
divmod(12, 3)

(4, 0)

In [9]:
# round()
print(round(3.1415))
print(round(3.59))
print(round(4.5891, 2))

3
4
4.59

In [10]:
a = 12
bin(a)

'0b1100'

In [11]:
hex(a)

'0xc'

In [12]:
oct(a)

'0o14'

Modules used for performing sofisticated mathematical operations- math, cmath, random, decimal

In [8]:
import math as m
pi = 22/7
print(m.sin(pi/2))
print(m.pi)
print(m.modf(3.14537))
print(dir(m))
a = m.tan(pi/4)
b = m.degrees(pi/2)
m.fabs(-4.6)
m.factorial(3)
help(m.dist)
m.dist([2,3], [4,5])

0.9999998001333682
3.141592653589793
(0.14537000000000022, 3.0)
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
Help on built-in function dist in module math:

dist(p, q, /)
    Return the Euclidean distance between two points p and q.

    The points should be specified as sequences (or iterables) of
    coordinates.  Both inputs must have the same dimension.

    Roughly equivalent to:
        sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

2.8284271247461903

In [25]:
#x = m*2**3
a =m.frexp(12)# gives (m,e)
print(a, type(a))
l = (1,2,3)
b = m.fsum(l) # float sum
print(b)

(0.75, 4) <class 'tuple'>
6.0

In [26]:
# hypot(x, y)
import math
math.hypot(3,4) #hypotenus

5.0

# cmath module

In [33]:
import cmath
print(dir(cmath))
help(cmath.polar)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atanh', 'cos', 'cosh', 'e', 'exp', 'inf', 'infj', 'isclose', 'isfinite', 'isinf', 'isnan', 'log', 'log10', 'nan', 'nanj', 'phase', 'pi', 'polar', 'rect', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau']
Help on built-in function polar in module cmath:

polar(z, /)
    Convert a complex from rectangular coordinates to polar coordinates.

    r is the distance from 0 and phi the phase angle.

# random module

In [1]:
# eg
import random
import datetime
for i in range(0,5):                       # changes when time changes
    print(random.randint(1, 100))
print()

import time
t = int(time.time())
random.seed(6)
for i in range(5):
    print(random.randint(10, 50))           # always same
print()

random.seed(t)
for i in range(5):                           # always different
    print(random.randint(10, 50))

45
57
10
72
93

46
15
41
26
12

11
24
34
49
27

# Classes and Object

In [8]:
a = b = c =d = 12
print(a is b, a is c, a  is d, b is c, b is d, c is d)
print(id(a), id(b), id(c), id(d))

True True True True True True
1823574420112 1823574420112 1823574420112 1823574420112

# STRING

In [9]:
a , b, c, d = 'Gopi', "kumar", '''Shaw''', """JMD"""
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [36]:
str = "My father's name is om"
print(str)

str1 = 'My father\'s name is om'
print(str1)

str2 = 'C:\\users\\Gopi kumar shaw\\Python'
print(str2)
str2 = r'C:\users\Gopi kumar shaw\Python'   # this is called raw string
print(str2)

My father's name is om
My father's name is om
C:\users\Gopi kumar shaw\Python
C:\users\Gopi kumar shaw\Python

# Multilining of string

In [37]:
msg1 = 'My name is gopi \
        I live in Raniganj'  # here space will reflect in the output
msg2 = """My name is gopi
I live in raniganj"""        # same here
msg3 = ('My name is gopi'
        ' I live in raniganj') # paranthesis is important 
print(msg1)
print()
print(msg2)
print()
print(msg3)

My name is gopi         I live in Raniganj

My name is gopi
I live in raniganj

My name is gopi I live in raniganj

## Accessing string elements

In [38]:
msg = 'Hello'
a = msg[0]
b = msg[4]
c = msg[-0]
d = msg[-1]
e = msg[-2]
f = msg[-5]
print(a, b , c, d, e, f)

H o H o l H

# slicing

In [39]:
str = 'Gopi_shaw'
print(str[0 :9])  
print(str[0: ])   
print(str[ :9])   
print(str[-4:])   
print(str[:-4])   
print(str[1:-5])

Gopi_shaw
Gopi_shaw
Gopi_shaw
shaw
Gopi_
opi

In [52]:
# Properties of string:

# 1. Immutable
s = "Hello"
# s[0] = 'E' gives error


# 2. Concatenation
msg = 'Gopi'
msg1 = 'kumar'
msg2 = msg + ' ' + msg1
print(msg2 + ' ' + 'shaw')

# 3. can be replicated while printing
print('-'*10)

# 4. one string is part of another can be found out 
print('e' in 'Hello')

Gopi kumar shaw
----------
True

#  Built in functions

In [57]:
msg = "Hello World"
print(len(msg))
print(min(msg))
print(max(msg))

11

r

# String method

In [58]:
msg = 'Gopi12'
m1 = 'A E C'
m2 = 'A/E/C'
m3 = 'A@EC'
m4 = 'AEC'
# 1. content test function
print(msg.isupper())
print(msg.islower())
print(msg.isalnum()) # Is alphabet or number
print(msg.isdigit())
print(msg.isalpha())
print(msg.startswith('G'))
print(msg.endswith('2'))

# search and replace
print(msg.find('o'))
print(msg.replace('12', '75')) # replace is a string method which doesn't change the original string, makes a copy
print(msg)

# 3. trim whitespace
msg.lstrip()
msg.rstrip()
msg.strip()

# 4. split and partition
a = m1.split()
print(a)
b = m2.split("/")
print(b)
c = m3.partition('@')
print(c)
d = "-".join(m4)
e = "@".join(a);
print(d, m4, e)
# replace(),partition(), join() all these methods doesn't change the original string but they makes of copy of original

False
False
True
False
False
True
True
1
Gopi75
Gopi12
['A', 'E', 'C']
['A', 'E', 'C']
('A', '@', 'EC')
A-E-C AEC A@E@C

# String conversion

In [59]:
# converting case of character in string
msg = "asansol Engineering college"
print('upper- ', msg.upper()) 
print(msg)
print("lower- ", msg.lower())
print(msg)
print("title- ", msg.title())
print(msg)
print("capitalize- ", msg.capitalize())
print(msg)
print("swapcase- ", msg.swapcase())
print(msg)

# all will make a new copy of the exesting string

upper-  ASANSOL ENGINEERING COLLEGE
asansol Engineering college
lower-  asansol engineering college
asansol Engineering college
title-  Asansol Engineering College
asansol Engineering college
capitalize-  Asansol engineering college
asansol Engineering college
swapcase-  ASANSOL eNGINEERING COLLEGE
asansol Engineering college

In [60]:
# converting number to string and vice versa
msg = '075'
a = int(msg)
print(a)
msg1 = '12.5'
b = float(msg1)
print(b)
msg2 = '2.4'
c = complex(msg2)
print(c)
msg3 = 97
d = chr(msg3)
print(d)

msg4 = 'a'
e = ord(msg4)
print(e)
# gives error
#a = 075
#print(a)

75
12.5
(2.4+0j)
a
97

## String comparison

In [61]:
str1 = 'asansol'
str2 = 'Engineering'
str3 = 'collEge'
str4 = 'asansol'
str5 = 'college'
# Note: lower case is greater than upercase
print(str1 == str2)
print(str1 == str4)
print(str2 !=str5)
print(str1>str2)
print(str3> str5)
print(str1<=str5)

False
True
True
True
False
True

In [ ]:
#eg1

In [62]:
s = 'Gfgoscperi'
print(s[0:10:3])

Gopi

# end() and sep()

In [65]:
# Both end() and sep() are parameters that can be passed to the print() function in Python to customize the behavior
# of printing output.
# end() is used to specify what should be printed at the end of the output. By default, end() is set to \n 
# (a newline character), which means that each call to print() will output a new line. You can change this 
# by passing a different string to the end parameter. 
str1 = "I love"
str2 = "python!"
print(str1, end='-')
print(str2)

# sep() is used to specify the separator between multiple values that are being printed. By default, sep() is set to a 
# space character. You can change this by passing a different string to the sep parameter.
print(str1, str2, sep='-')

I love-python!
I love-python!

# Decision control Instruction

#  Logical Operator

In [66]:
# if and comes first it will check both values and returns last checked element
a =34
b= 19
x = 1 and a >20 and b<30 and 2
print(x)
y = 75 and a >20 and b>30 and 35
print(y)
z = -30 and a>=20 and 0 and 35
print(z)
w = a>3 and b<20 and 4
print(w)

2
False
0
4

In [69]:
# if or comes first it will return the value where it can stop without further checking
a = 30 and 40 or 60
print(a)
y= a>=20 or 75 or 60
print(y)

40
True

In [67]:
p = 10
q = 60
if p and q>20:
    print('Hello')
else:
    print('Hi')

Hello

In [33]:

i, j, k = 4, -1, 0
w = i or j or k
x = i and j and k
y = 3 or 4 and 0
q = 4 and -10
z = q or 0
print(w, x, y, z)

4 0 3 -10

In [34]:
a =10
if 1 == 30 or 40 or 60 :
    print('Hello')
else:
    print('hi')

Hello

In [36]:
a , b = 30, 40
if a == b:
    print('a and b are equal');
elif a>b:
    print('a greater than b');
elif a<b:
    print('a less than b');

a less than b

# Conditional expression

syntax: < exp1 > if (cond) else < exp2 >

In [68]:
l, b = [int(n) for n in input("Enter length and breadth: ").split()]
ar = l *b
per = 2*(l+b)
print("Area is greater than perimeter.") if ar> per else print("Area is smaller than perimeter")

Enter length and breadth: 12 4
Area is greater than perimeter.

## nesting

In [38]:
x, y = 12, 13
print("Point is on the X-axis") if y ==0 else print("Point is on the Y-axis") if x==0 else print("Point is on the origin") if x==0 & y==0 else print("Point is on X-Y plane")

Point is on X-Y plane

## all() and any()

In [39]:
a = 10
b =23
c =15
x = all((a>10, b<30, c>5))
y = any((a>10, b<30, c>5))
print(x, y)
# note that both all() and any() receives a single parameter of type string, list, tuple, set or dictonary

False True

# Repeatition Control Instruction

## while loop

In [40]:
s = 'Mumbai'
lst = ['desert', 'dessert', 'to', 'too', 'loose', 'lose']
tpl = (10, 20, 30, 40,-10, -20)
i=0
while i< len(lst):
    print(i, s[i], lst[i], tpl[i])
    i+=1

0 M desert 10
1 u dessert 20
2 m to 30
3 b too 40
4 a loose -10
5 i lose -20

## For loop

In [41]:
for char in 'Leopard':
    print(char)
for animal in ['Cat', 'Dog', 'Tiger', 'Lion', 'Leopard']:
    print(animal)
for flower in ('Rose', 'Lily', 'Jasmine'):
    print(flower)
for num in {10, 20, 30, 40, 50, 60}:
    print(num)
for key in {'A101': 'Rajesh', 'A111' : 'Sunil', 'A112' : 'Rakesh'}:
    print(key)

L
e
o
p
a
r
d
Cat
Dog
Tiger
Lion
Leopard
Rose
Lily
Jasmine
40
10
50
20
60
30
A101
A111
A112

In [42]:
lst = ['desert', 'dessert', 'to', 'too', 'loose', 'lose']
for i, ele in enumerate(lst):
    print(i, ele)

0 desert
1 dessert
2 to
3 too
4 loose
5 lose

## else block of a loop

In [44]:
num = int(input('Enter an integer:'))
i = 2
while i<= num-1:
    if num %i ==0:
        print(num, 'is not a prime number')
        break
    i+=1
else:
    print(num, 'is a prime number')

Enter an integer:6
6 is not a prime number

In [9]:
for ele in [10, 20, 30, 60, 41, 50]:
    if ele % 10 != 0:
        print(ele, 'is not multiple of 10')
        break
else:
    print('All element in the list is a multiple of 10')

41 is not multiple of 10

# console i/o

### multiple input taking

In [ ]:
n1, n2, n3 = input("Enter three numbers:").split()
n1, n2, n3 = int(n1), int(n2), int(n3)
print(n1, n2, n3)

## list comprehension

In [ ]:
n1, n2, n3 = [int(n) for n in input("Enter three numbers: ").split()]
print(n1, n2, n3)

l= [int(n) for n in input("Enter three numbers: ").split()]
print(l)

## we can input different value at a time

In [ ]:
data = input('Enter name, age, salary: ').split()
name = data[0]
age = int(data[1])
salary = float(data[2])
print('My name is',name, 'I am', age, 'years old and my salary is', salary )

# Formatted printing

### Using fstring

In [ ]:
r, l, b = 1.5678, 10.5, 12.66
print(f'radius = {r}')
print(f'length = {l} breadth = {b} radius = {r}')
name = 'Sushant Ajay Raje'
for n in name.split():
    print(f'{n:10}') # prints name in 10 columns

### Using format

In [ ]:
r, l, b = 1.5678, 10.5, 12.66
name, age, salary = 'Rakesh', 30, 53000.55
print('radius = {} length = {} breadth = {}'. format(r, l, b))
print('name = {} age = {} salary = {}'.format(name, age, salary))
print('radius = {0} length = {1} breadth = {2}'. format(r, l, b))
print('age = {1} salary = {2} name = {0}'.format(name, age, salary))

In [70]:
# print name in 15 columns and salary in 10 columns
name = 'Ram'; salary = 300000.0
print('name = {0:15} salary = {1:10}'.format(name, salary))

name = Ram             salary =   300000.0

In [71]:
#radius in 10 columns with 2 digits after decimal point
r = 15.653456
print('radius = {0:10.2f}'.format(r))

radius =      15.65

In [72]:
#eg 1. #right alligned
start, end, steps = [int(n) for n in input('Enter start, end and steps: ').split()]
for e in range(start, end, steps):
    print('{0: >5} {1:>5} {2:>5}'.format(e, e**2, e**3))
    
# left alligned
for e in range(start, end, steps):
    print(f'{e:<5}{e**2:<5}{e**3:<5}')

Enter start, end and steps: 0 12 2
    0     0     0
    2     4     8
    4    16    64
    6    36   216
    8    64   512
   10   100  1000
0    0    0
2    4    8
4    16   64
6    36   216
8    64   512
10   100  1000

In [73]:
#eg 2. don't waste time in calling these numbers
contacts = {'Shyam': 9907543212, 'Pinki':7098127553, 'Ajay':6287443211, 'Amisha': 9932765821 }
for name, num in contacts.items():
    print(f'{name:15}: {num:10}')

Shyam          : 9907543212
Pinki          : 7098127553
Ajay           : 6287443211
Amisha         : 9932765821

In [ ]:
#eg 3
import math
width = 10
precision = 4
for n in range(1,10):
    s = math.sqrt(n)
    c = math.pow(n, 1/3)
    print(f'{n:^5}{s:{width}.{precision}}{c:{width}.{precision}}')

# List

1. Dyanamic array
2. can store dissimilar types
3. can be repeated
4. Mutable

In [2]:
animals = ['Cow', 'Goat','Dog', 'Bull', 'Buffaloes', 'Cat','Mouse']
n = [10]*5
print(n)

[10, 10, 10, 10, 10]

# slicing of List

In [3]:
print(animals[1:5])

['Goat', 'Dog', 'Bull', 'Buffaloes']

## looping in list

In [ ]:
i=0
while i<len(animals):
    print(animals[i])
    i+=1
print()
for a in animals:
    print(a)

In [ ]:
# keep track of index
for index, a in enumerate(animals):
    print(f'{a:<9}{index:>5}')

# Basic list commands

In [75]:
animals = ['Cow', 'Goat','Dog', 'Bull', 'Buffaloes', 'Cat','Mouse']
ages = [25, 24, 23, 18, 12, 32, 36]
print(animals[2])
print(ages[4])
print(ages[3:6])
ages[1:5]=[] # delete
print(ages)

Dog
12
[18, 12, 32]
[25, 32, 36]

### Basic List Operations

### concatenation

In [ ]:
lst = ages + [1, 2, 3, 4]
print(lst)

### merging

In [ ]:
s = [10, 20, 30]
t = ['g','o', 'o', 'd']
z = s+t
print(z)

### Conversion

In [ ]:
l = list('Africa')
print(l)

### aliasing

In [76]:
lst1 = [12, 14, 16, 18, 20, 22]
lst2 = lst1 # by doing this we are actually make the lst2 to point content of lst1
lst1[1: 4] = [20, 30, 40]
print(lst1, lst2)

[12, 20, 30, 40, 20, 22] [12, 20, 30, 40, 20, 22]

### cloning

In [ ]:
lst1 = [10, 20, 30, 40, 50, 60]
lst2 =[]
lst2 = lst2+lst1   # here we are copying the content of lst1 to lst2
print(lst2)

### Searching

In [ ]:
lst = ['a', 'e', 'i', 'o', 'u']
res = 'a' in lst
print(res)
res = 'z' in lst
print(res)

### Identity

In [4]:
lst1 = [10, 20, 30, 40, 50]
lst2 = [10, 20, 30, 40, 50]
lst3 = lst1
print(lst1 is lst2)
print(lst1 is lst3)
print(lst3 is not lst2)
# remember
n1 = 10
n2 = 10
s1 = 'ram'
s2 = 'ram'
print(n1 is n2)
print(s1 is s2)

False
True
True
True
True

### comparison

In [78]:
a = [1, 2, 3, 4]
b = [1, 2, 5]
print(a<b)

True

### emptiness

In [79]:
lst = []
if not lst:
    print("This list is empty")
print(bool(lst))

This list is empty
False

# Built-in list function

In [80]:
lst1 = [10, 20, 30, 40, 50, 60]
lst2 = []
lst2 = lst2+ lst1  #copying
lst3 =[]
# finding length of a list
lst3 = lst3 + lst1
leng = len(lst1)

# finding greatest element in the list
m = max(lst1)

# finding smallest element in the list
n = min(lst1)

# finding sum of elements in the list
s = sum(lst1)

print(leng)
print(m)
print(n)
print(s)

# all() and any() functions
print(all(lst1))
print(any(lst1))

# deleting an element
del(lst1[3])
print(lst1)

# deleting slice of elements
del(lst2[:])
print(lst2)

# This way we can also delete a string
lst3 =[]
print(lst3)
# adding an elements at the end of the list
lst1.append(40)
lst1.append(9)
lst1.append(23)
# lst1.append([1,2,3])  This will append a list inside a list, we can also add a list like data structure
print(lst1)

# sorted function creates a copy of sorted array and does not change the original one
lst_new = sorted(lst1)
print(lst_new)
print(lst1)

# reversed function creates a copy of reverseded array and does not change the original one
rev_lst = list(reversed(lst_new))
print(rev_lst)
print(lst_new)

6
60
10
210
True
True
[10, 20, 30, 50, 60]
[]
[]
[10, 20, 30, 50, 60, 40, 9, 23]
[9, 10, 20, 23, 30, 40, 50, 60]
[10, 20, 30, 50, 60, 40, 9, 23]
[60, 50, 40, 30, 23, 20, 10, 9]
[9, 10, 20, 23, 30, 40, 50, 60]

In [81]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# List methods

In [11]:
lst = [12, 15, 13, 23, 22, 23, 16, 17]
lst.remove(13)
print(lst)
lst.pop()
print(lst)
lst.pop(3)
print(lst)
lst.insert(3,21)
print(lst)
print(lst.count(23))
idx = lst.index(21)
print("index of 21 is" , idx)
#idx = lst.index(50)    error 
#lst.remove(30)         error

[12, 15, 23, 22, 23, 16, 17]
[12, 15, 23, 22, 23, 16]
[12, 15, 23, 23, 16]
[12, 15, 23, 21, 23, 16]
2
index of 21 is 3
3

# Difference between del, remove and pop

del():
1. it takes the specified index and remove the value at that index
2. It limits itself to a simple deletion
3. It is a prefix
4. syntax - del(list[index]) or del(list)
5. It throws an index error when the index does not exist in the list.
6. del can be used for any class object.
7. del basically work on the index
8. In python, del is a keyword

In [11]:
lst1 = [1,2,2,3,0,4,8,9,1,3,7,9]
lst2 = []
lst2 = lst2 + lst1
del(lst1[4])
print(lst1)
del(lst2) # completely deletes the list
#del(lst1[15])
tpl = (1,2,3,4,5,6,7,8)
# del(tpl[1]) error because tuple is immutable

[1, 2, 2, 3, 4, 8, 9, 1, 3, 7, 9]

remove()
1. It takes a value and remove the first occurrence of that value.
2. It is the only one that searches the item.
3. It is a postfix
4. Syntax- list.remove(value)
5. It throws a value error when the value does not exists in the list
6. remove is bounded to specific classes.
7. remove basically works on the value.
8. In python,remove() is an built in method

In [12]:
lst1 = [1,2,2,3,0,4,8,9,1,3,7,9]
lst1.remove(3)
print(lst1)
# lst1.remove(11)

[1, 2, 2, 0, 4, 8, 9, 1, 3, 7, 9]

pop()

1. It takes index (when given, else take last) and removes the value at that index
2. It is the only one that returns the value
3. it is postfix.
4. Syntax- list.pop(index) or list.pop()
5. It throws an index error when an index is out of range
6. pop is bounded to specific classes.
7. pop basically works on the index.
8. In Python, pop() is an in-built method.

In [86]:
lst1 = [1,2,2,3,0,4,8,9,1,3,7,9]
a = lst1.pop(3)
print(a)
b = lst1.pop()
print(b)
b = lst1.pop(0)

3
9

## sorting and reversing

In [12]:
lst = [10, 2, 0, 4, 50, 6]
# reverse(self, /)
 #      Reverse *IN PLACE*.
lst.reverse()  # this actually reverses the original list and changes the data
print(lst)

# sort(self, /, *, key=None, reverse=False)
      # Sort the list in ascending order and return None.
lst.sort(reverse=True)     # this actually sortes the original list and changes the data
print(lst)
print(lst)
lst = [2,9, 1, 0, 20, 14]
print(sorted(lst, reverse = True))

[6, 50, 4, 0, 2, 10]
[50, 10, 6, 4, 2, 0]
[50, 10, 6, 4, 2, 0]
[20, 14, 9, 2, 1, 0]

In [87]:
lst = [2,9, 1, 0, 20, 14]
print(lst[::-1])

[14, 20, 0, 1, 9, 2]

## list varities

### nested list

In [13]:
a = [1, 3, 5, 7]
b = [2, 4, 6, 8]
c = [a, b]
print(c)
print(c[0][1], c[1][2])

[[1, 3, 5, 7], [2, 4, 6, 8]]
3 6

### embedded list

In [14]:
a = [1, 3, 5, 7]
b = [2, 4, a, 8]
print(b)

[2, 4, [1, 3, 5, 7], 8]

In [ ]:
s = 'Hello'
l = [*s]  # unpacking string
l1 = list(s)
print(l1)
print(l)

In [ ]:
y = [20, 30,40, 50]
x = [10, *y,60, 70, 80]
print(x)

# LIFO principle

In [ ]:
a = []
# Push
a.append(10)
a.append(20)
a.append(30)
a.append(40)
a.append(50)
a.append(60)
print(a)
# pop
a.pop()
a.pop()
a.pop()
print(a)

# FIFO Principle

In [ ]:
import collections
q = collections.deque()
q.append('Shuhana')
q.append('Ajay')
q.append('Rahul')
q.append('Aniket')
q.append('Rinki')
print(q)
print(q.popleft())
print(q.popleft())
print(q.popleft())
print(q)

In [ ]:
# eg
import random
a =[]
i =1
while i<=20:
    num = random.randint(10, 100)
    a.append(num)
    i+=1
for n in a:
    if n>20 and n<50:
        a.remove(n)
print(a)

In [ ]:
# 3 X 4 matrix
mat1 =[[1, 2,3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
mat2 =[[1, 2,3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
mat3 =[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        mat3[i][j]= mat1[i][j] + mat2[i][j]
print(mat3)

# for this type of operations numpy is effective

# Tuples

In [88]:
a = ()
b = (10, ) #tuple with one item ',' after 10 is necessary
c = ('Sanjay', 25, 34555.50)
d = (10, 20, 30, 40)
# while initializing a tuple we may drop ()
c = 'Sanjay', 25, 34555.50
print(type(c))
tpl1 = (10,)*5
tpl2 = (10)*5
print(tpl1, tpl2)

<class 'tuple'>
(10, 10, 10, 10, 10) 50

In [30]:
tpl = tuple(int(x) for x in input('Enter numbers: ').split()) # if type casting is not done then it will be generator class
print(tuple(tpl))
print(type(tpl))

Enter numbers: 1 2 3
(1, 2, 3)
<class 'tuple'>

## Acessing tuple element

In [91]:
c = 'Sanjay', 25, 34555.50
print(c[0])
print(c[1])
print(c[2])
print(c[1:])
print(c[:2])

Sanjay
25
34555.5
(25, 34555.5)
('Sanjay', 25)

# Lopping in tuple

In [ ]:
tpl = (10, 20, 30, 40, 50)
i = 0
while i < len(tpl):
    print(tpl[i])
    i+=1
for n in tpl:
    print(n)

In [ ]:
tpl = (10, 20, 30, 40, 50)
for index, n in enumerate(tpl):
    print(n, index)

# Basic Tuple operations

## Mutability

append, remove and insert doesn't work on tuple

In [13]:
msg = ('Fall', 'In', 'Line')
msg[0] = 'FALL'
msg[1:3] = ('Above', 'Mark')
# tuples are immutable and can not be changed

TypeError: 'tuple' object does not support item assignment

In [92]:
s = ([1, 2, 3, 4], [10, 20], 'Oynx')
s[1][1] = 40
print(s)

([1, 2, 3, 4], [10, 40], 'Oynx')

In [ ]:
p = s[1]
print(s)
p[1] = 100
print(s)
# here list inside tuple is changing

In [9]:
# all operation  of list are available in tuple

# 1. Concatenation
tpl1 = (1,2,3)
tpl2 = tpl1 + (4,5)
print(tpl2)

# 2. Merging
tpl3 = tpl1 + tpl2
print(tpl3)

# 3. Conversion
str1 = "Conversion"
tpl4 = tuple(str1)
print(tpl4)

# 4. Aliasing
tpl5 = tpl4
print(tpl5)

# 5. Cloning
tpl6 = ()
tpl6 = tpl6 + tpl5
print(tpl6)

# 6. Searching
print('i' in tpl6)

# 7. Identity
tpl7 = (0,)
print(tpl6 is tpl7)

#8. Comparison
tpl8 = tuple('comparison')
print(tpl8 > tpl6)

# 9. Emptiness
tpl9 = ()
print(bool(tpl9))

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3, 4, 5)
('C', 'o', 'n', 'v', 'e', 'r', 's', 'i', 'o', 'n')
('C', 'o', 'n', 'v', 'e', 'r', 's', 'i', 'o', 'n')
('C', 'o', 'n', 'v', 'e', 'r', 's', 'i', 'o', 'n')
True
False
True
False

# Tuple varities

In [ ]:
# Tuple may be embedded in another tuple
x = (1, 2, 3, 4)
y = (10, 20, x, 40)
print(y)

In [19]:
# it is possible to unpack a tuple with using the *operator.
x = (1, 2, 3, 4)
y = (10, 20, 30, *x, 40)

print(y)

AttributeError: 'tuple' object has no attribute 'pop'

In [17]:
# we can make list of tuple or tuple of list
lst = [('Guru', 'prakash', 4), ('Anil', 'Kumar', 14)]
tpl = (['Guru', 'prakash', 4], ['Anil', 'Kumar', 14])
tpl[0][2] = 5
print(tpl)

(['Guru', 'prakash', 5], ['Anil', 'Kumar', 14])

In [18]:
# If we want to short a list of tuples or tuples of list....

import operator
lst = [('Shailesh', 24, 3455.50), ('Priyanka', 25, 4555.00)]
tpl = (['Shailesh', 24, 3455.50], ['Priyanka', 25, 2555.00])
print(sorted(lst))
print(sorted(tpl))
print(sorted(lst, key = operator.itemgetter(1))) # here item getter used to get sorted by specific element in lst/tpl 
print(sorted(tpl, key = operator.itemgetter(2)))

[('Priyanka', 25, 4555.0), ('Shailesh', 24, 3455.5)]
[['Priyanka', 25, 2555.0], ['Shailesh', 24, 3455.5]]
[('Shailesh', 24, 3455.5), ('Priyanka', 25, 4555.0)]
[['Priyanka', 25, 2555.0], ['Shailesh', 24, 3455.5]]

In [13]:
tpl = (10, 20, 30, 40, 50, 60, 70, 80, 190, 100)
a, b, c, d, e, f, g, h, i, j = tpl
print(tpl)
print(a, b, c, d, e, f, g, h, i, j)
X, _, _, _, _, _, _, _, _, Y = tpl
print(X, Y, _)
i, *_, j = tpl
print(i,j, _)
# disposaable variable _ is usually used when you do not wish to use the variable further, and is being used only as a place
#holder

(10, 20, 30, 40, 50, 60, 70, 80, 190, 100)
10 20 30 40 50 60 70 80 190 100
10 100 190
10 100 [20, 30, 40, 50, 60, 70, 80, 190]

In [14]:
tpl = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
i, *_,j = tpl
print(_)
# We can done this if we don't want the range of terms that time

[20, 30, 40, 50, 60, 70, 80, 90]

# Isinstance()

In [ ]:
# use to check whether an element is instance of a desired class

In [17]:
lst = [('A101', 'Subhash',23), ('A104', 'Nisha', 25), ('A111', 'Sudha', 24)]
nlst = []
for ele in lst:
    nlst = nlst + [ele[1]]
print(nlst)

['Subhash', 'Nisha', 'Sudha']

In [ ]:
#Given the following tuple
#('f', 'l','a','b','b','e','r','g','a','s','t','e','d')
#write a python program to carry out the program:
    #-Add an ! at the end the tuple
    #-Convert a tuple to a string
    #-Extract('b','b') from the tuple
    #-find out number of occurrences of 'e' in the tuple
    #-Check whether 'r' exist in the tuple
    #-Convert the tuple to a list
    #-Delete character 'b','b', 'e'
tpl = ('f', 'l','a','b','b','e','r','g','a','s','t','e','d')
tpl = tpl + ('!',)
print(tpl)
s = ''.join(tpl)
print(s)
t = tpl[3:5]
print(t)
print(tpl.count('e'))
print('r' in tpl)
l = list(tpl)
print(l)
tpl = tpl[:3] + tpl[6:]
print(tpl)

# Sets

### Set is an Unordered collection

In [18]:
# Sets are like a list but with an excepion that they do not contains duplicate entries.
d = {10, 10, 10, 10, 10}
print(d)

{10}

In [21]:
# while storing an element in a set, it's hash value is computed using a hashing technique to determine where it should be
#  stored in the list.
s = {23, 11, 14, 2, 5}
t = {11, 5, 2, 23, 14}
u = {11, 2, 23, 14, 5}
print(s, t, u, sep ='\n')

{2, 5, 23, 11, 14}
{2, 5, 23, 11, 14}
{2, 5, 23, 11, 14}

In [24]:
# it is possible to create a set of tuple and string, but not a set of lists.
# because list in mutable
s1 = {'Morning', 'Evening'}
s2 = {(12, 23), (15, 25), (17, 34)}
# s2 = {[12, 23], [15, 25], [17, 34]}   ---> error

In [25]:
# cannot be accessed using Indices and cannot get sliced

In [ ]:
# while loop does not work on sets and enumerate is done on accessing order, not insertion order

## Basic set operations

In [28]:
# frozenset
s1 = {'gate', 'fate','late'}
s2 = frozenset({'hate', 'rate', 'pain'})
s1.add('let')
# s2.add('gate')

In [26]:
# concatenation (unsupported)
# s = {1, 2, 3, 4}
# s = s + {5, 6, 7}

In [27]:
# merging (unsupported)
# s = {1, 2, 3, 4}
# t = {4, 5,6, 7}
# z = s+t

In [20]:
# conversion
lst = [1, 2, 3, 4]
st = 'Helo'
s   = set(st)
t = tuple(lst)
print(t)
print(s)

(1, 2, 3, 4)
{'e', 'H', 'l', 'o'}

In [ ]:
# Aliasing
a = {1, 2, 3, 4}
b = a
print(b)
print(a is b)

In [ ]:
# cloning
c = {1, 2, 3, 4}
d = set()
d = c.copy() # because concatination won't work
print(d)

In [21]:
# Searching, Identity, Comparison, Emptiness also works

AttributeError: 'tuple' object has no attribute 'sort'

## Built-in Functions

In [24]:
# len()
# max()
# min()

# sorted()
a = {9, 3, 4,2, 6, 8, 1, 0}
b = sorted(a)
print(b)
print(isinstance(b, list))
# sum(s)
# any()
# all()

# reversed (unsupported)

[0, 1, 2, 3, 4, 6, 8, 9]
True

# Set methods

In [ ]:
s = {12, 15, 13, 23, 33, 16, 17}
t = {'A', 'B', 'C'}
u = set()
s.add('Hello')
print(s)
s.update(t) # add elements of t to s
print(s)
u = s.copy()
print(u)
s.remove(15)
print(s)
# s.remove(101)   # raise error
s.discard(12)
print(s)
s.discard(101) # would not raise an error
s.clear()
print(s)

## Set relationship

In [31]:
s = {12, 15, 13, 23, 22, 16, 17}
t = {13, 15, 22}
print(s.issuperset(t))
print(s.issubset(t))
print(s.isdisjoint(t))
print(s.intersection(t))
print(s.union(t))

True
False
False
{13, 22, 15}
{12, 13, 15, 16, 17, 22, 23}

## Mathematical set operations

In [ ]:
engineers = {'Vijay', 'Sanjay', 'Ajay', 'Sujay', 'Dinesh'}
managers = {'Aditya', 'Sanjay'}
# Union - all people in both categories
print(engineers| managers)
# Intersection - who are engineers and manager
print(engineers & managers)
# difference - engineers who are not manager
print( engineers - managers)
# difference - managers who are not engineers
print(managers - engineers)
# symmetric difference - managers who are not engineers and engineers who are not managers
print(managers^engineers)

In [ ]:
a = {1, 2, 3, 4,5}
b = {2, 4, 5}
print(a>= b) # a is superset of b
print(a<= b) # a is subset of b

## Updating set operations

In [ ]:
# a|= b   update a with the result of a|b
# a&= b   update a with the result of a&b
# a-= b   update a with the result of a-b
# a^= b   update a with the result of a^b

## set varieties

In [ ]:
# s = {'gate', 'fate', 'late', {1, 2, 3, 4}} ---> gives error

In [32]:
X = {1, 2, 3, 4}
print(*X)

1 2 3 4

# Dictonaries

In [ ]:
d1 = {}    # empty dictonary
# Different keys may have same values
d = {10:'A', 20: 'A', 30:'B'}
# key must be unique if keys are same, but values are different, latest key value pair gets stored
# and if same key value is present multiple times then only one will be stored.
d = {10:'A', 20: 'Z', 30:'C', 10:'D'}
print(d)

## Accessing different elements

In [ ]:
d = {'A101': 'Amol', 'A102': 'Anil', 'B103': 'Ravi'}
print(d)
print(d['A102'])
# dictonaries cannot be sliced using []

## Loooping in Dictonaries

In [ ]:
courses = {'DAA': 'CS', 'AOA': 'ME', 'SVY':'CE'}
# iterate over key value pairs
for k, v in courses.items():
    print(k,v)
print()
# iterate over keys:
for k in courses.keys():
    print(k)
print()
# iterate over keys- shorter way
for k in courses:
    print(k)
print()
# iterate over values:
for v in courses.values():
    print(v)

In [ ]:
courses = {'DAA': 'CS', 'AOA': 'ME', 'SVY':'CE'}
for i, (k,v) in enumerate(courses.items()):
    print(i, k, v)
# () around k,v is necessary

## Basic Dictonaries operations

In [26]:
courses = {'CS101':'CPP','CS102':'DS', 'CS201':'OOP', 'CS226': 'DAA', 'CS601':'Crypt', 'CS442':'Web'}
# add, modify, delete
courses['CS444'] = 'Web Services'
print(courses)
courses['CS201'] = 'OOP using Java'
del(courses['CS102'])
print(courses)
courses.clear()
print(courses)
# del(courses)  delete course object

6
{'CS101': 'CPP', 'CS102': 'DS', 'CS201': 'OOP', 'CS226': 'DAA', 'CS601': 'Crypt', 'CS442': 'Web', 'CS444': 'Web Services'}
{'CS101': 'CPP', 'CS201': 'OOP using Java', 'CS226': 'DAA', 'CS601': 'Crypt', 'CS442': 'Web', 'CS444': 'Web Services'}
{}

In [36]:
# Concatination (unsupported)
# d1 = {'a': 1, 'b': 2, 'c': 3}
# d1 = d1 + {'d': 4, 'e': 5, 'f': 6}
# print(d1)

In [ ]:
# Merging (unsupported)
# d1 = {'a': 1, 'b': 2, 'c': 3}
# d2 = {'d': 4, 'e': 5, 'f': 6}
# d3 = d1 + d2
# print(d3)

In [ ]:
# conversion
l = (1, 2, 3,4)
d = dict.fromkeys(l, 50)
print(d)

In [1]:
days = {'Sun', 'Mon', 'Tue', 'Wed'}
hrs = {2,3,4,5}
d = dict.fromkeys(days,hrs)
for k, v in d.items():
    print(k, v)
# in fromkeys() method value will be same for all keys of dictonary

Sun {2, 3, 4, 5}
Tue {2, 3, 4, 5}
Mon {2, 3, 4, 5}
Wed {2, 3, 4, 5}

In [38]:
days = {'Sun', 'Mon', 'Tue', 'Wed'}
hrs = {2,3,4,5}
d={}
for(k,v) in zip(days, hrs):
    d[k] = v
for k, v in d.items():
    print(k, v)

Sun 2
Tue 3
Wed 4
Mon 5

In [44]:
days = {'Sun', 'Mon', 'Tue', 'Wed'}
hrs = {2,3,4,5}
d = dict(zip(days, hrs))
print(d)
# zip function used to iterate in 2 or more lists simultaneously at a same time

{'Sun': 2, 'Tue': 3, 'Wed': 4, 'Mon': 5}

In [40]:
# aliasing
students = {'Ajay': 23, 'Bijay':22, 'Sunjay': 25}
mentees = students
st = students['Ajay']
print(mentees)

{'Ajay': 23, 'Bijay': 22, 'Sunjay': 25}

In [ ]:
# cloning
students = {'Ajay': 23, 'Bijay':22, 'Sunjay': 25}
mentees = students.copy()
print(mentees)

In [ ]:
# searching
students = {'Ajay': 23, 'Bijay':22, 'Sunjay': 25}
print('Raj'in students)

In [46]:
# identity
d1 = {'Guru': 4,'Gaurav': 64, 'Gopi': 75, 'Aditya': 85 }
d2 = {'Guru': 4,'Gaurav': 64, 'Gopi': 75, 'Aditya': 85 }
d3 = d1
print(d1 is d2)
print(d3 is d2)
print(d1 is d3)

False
False
True

In [ ]:
# comparison does not work on dictonaries

## built in dictonary function

In [47]:
import operator
d = {'CS101': 'CPP', 'CS102': 'ZS', 'CS201': 'OOP'}

#sort dictnary by values- method 1
d1 = dict(sorted(d.items(), key = operator.itemgetter(1)))
print(d1)

# method 2
d2 = dict(sorted(d.items(), key = lambda item : item[1]))
print(d2)

print(len(d))
print(max(d))
print(min(d))
print(sorted(d))
d1 = {0: 'g', 2: 'a', 5: 'y'}
print(sum(d1))
print(any(d))
print(all(d1))
print(list(reversed(d)))

{'CS101': 'CPP', 'CS201': 'OOP', 'CS102': 'ZS'}
{'CS101': 'CPP', 'CS201': 'OOP', 'CS102': 'ZS'}
3
CS201
CS101
['CS101', 'CS102', 'CS201']
7
True
False
['CS201', 'CS102', 'CS101']

In [61]:
courses = {'CS101': 'CPP', 'CS102': 'DS', 'CS201': 'OOP'}
for k, v in enumerate(reversed(courses.items())):
    print(k, v)

0 ('CS201', 'OOP')
1 ('CS102', 'DS')
2 ('CS101', 'CPP')

## dictonaries methods

In [48]:
c = {'CS101': 'CPP', 'CS102': 'DS', 'CS201': 'OOP'}
d = {'ME126': 'HPE', 'ME102': 'TOM', 'ME234': 'AEM'}
print(c.get('CS102', 'Absent'))
print(c)
print(c.get('EE102', 'Absent'))
print(c)
# print(c['EE102'])   raise error
c.update(d)
print(c)
print(c.popitem()) # removes and return item in LIFO order
print(c.pop('CS102'))
print(c)
c.clear()

DS
{'CS101': 'CPP', 'CS102': 'DS', 'CS201': 'OOP'}
Absent
{'CS101': 'CPP', 'CS102': 'DS', 'CS201': 'OOP'}
{'CS101': 'CPP', 'CS102': 'DS', 'CS201': 'OOP', 'ME126': 'HPE', 'ME102': 'TOM', 'ME234': 'AEM'}
('ME234', 'AEM')
DS
{'CS101': 'CPP', 'CS201': 'OOP', 'ME126': 'HPE', 'ME102': 'TOM'}

## Dictonaries varities

In [76]:
# key in a dictonaries must be unique and immutable
d = {(1, 5): 'ME126', (3,2): 'ME102', (5,4): 'ME234'}
# dictonaries can be nested
contacts = {
    'Anil':{'DOB':'17/11/98', 'Favourite': 'Igloo'},
    'Anmol':{'DOB':'14/10/99', 'Favourite': 'Tundra'},
    'Ravi':{'DOB':'19/11/97', 'Favourite': 'Artic'}
}

# two dictonaries can be merged to create third dictonary by unpacking the two dictonaries using **
animals = {'Tiger': 141, 'Lion':152, 'Leopard': 110}
birds = {'Eagle': 38, 'Crow': 3, 'Parrot':2}
combined = {**animals, **birds}
print(combined)

# a dictonaries containing different keys but same values can be created by fromkeys
lst = [12, 13, 14, 15, 16]
d = dict.fromkeys(lst, 25)
print(d)

{'Tiger': 141, 'Lion': 152, 'Leopard': 110, 'Eagle': 38, 'Crow': 3, 'Parrot': 2}
{12: 25, 13: 25, 14: 25, 15: 25, 16: 25}

In [5]:
#eg  Write a program to sort a dictonary in ascending/ descending order by key and ascending/descending order by value
import operator
d = {'Oil': 230, 'Clip': 150, 'Stud': 175, 'Nuts': 35}
print('Original dictonary: ', d)
# sort by key
d1 = sorted(d.items())
print('Asc order by key : ', d1)
d2 = sorted(d.items(), reverse = True)
print('Des. order by key: ', d2)

# sorting by value
d1 = sorted(d.items(), key = operator.itemgetter(1))
print('Asc order by value: ', d1)
d2 = sorted(d.items(), key = operator.itemgetter(1), reverse = True)
print('Des order by value: ', d2)

Original dictonary:  {'Oil': 230, 'Clip': 150, 'Stud': 175, 'Nuts': 35}
Asc order by key :  [('Clip', 150), ('Nuts', 35), ('Oil', 230), ('Stud', 175)]
Des. order by key:  [('Stud', 175), ('Oil', 230), ('Nuts', 35), ('Clip', 150)]
Asc order by value:  [('Nuts', 35), ('Clip', 150), ('Stud', 175), ('Oil', 230)]
Des order by value:  [('Oil', 230), ('Stud', 175), ('Clip', 150), ('Nuts', 35)]

In [23]:
# eg
d1 = {'Mango': 30, 'Guava': 20}
d2 = {'Apple': 70, 'Pineapple': 50}
d3 = {'Kiwi': 90, 'banana': 35}
d4 = {}
for d in (d1, d2, d3):
    d4.update(d)
print(d4)

# another way
d5 = {**d1, **d2, **d3}
print(d5)
# another way
d6 = list({**d1, **d2, **d3})
print(d6)
d7 = list({*d1, *d2, *d3})
print(d7)

{'Mango': 30, 'Guava': 20, 'Apple': 70, 'Pineapple': 50, 'Kiwi': 90, 'banana': 35}
{'Mango': 30, 'Guava': 20, 'Apple': 70, 'Pineapple': 50, 'Kiwi': 90, 'banana': 35}
['Mango', 'Guava', 'Apple', 'Pineapple', 'Kiwi', 'banana']
['banana', 'Pineapple', 'Kiwi', 'Guava', 'Mango', 'Apple']

In [1]:
# eg
students = {554: 'Ajay', 350:'Ramesh', 395: 'Rakesh'}
rollno = int(input('Enter roll number: '))
name = students.get(rollno, 'Student')
print(f'Congratulations {name}!')
rollno = int(input('Enter roll number: '))
name = students.get(rollno, 'Student')
print(f'Congratulations {name}!')
print(students)

Enter roll number: 554
Congratulations Ajay!
Enter roll number: 530
Congratulations Student!
{554: 'Ajay', 350: 'Ramesh', 395: 'Rakesh'}

In [50]:
count = {}
flag =1
while(flag):
    num = int(input('Enter a number: '))
    if(num in count):
        count[num]= count[num]+1
    else:
        count[num] = 1
    flag = int(input('Enter 1 if you want to continue else enter 0: '))
for key, value in count.items():
    print(f'{key} is entered {value} times')
    print()

Enter a number: 12
Enter 1 if you want to continue else enter 0: 0
12 is entered 1 times

In [2]:
#alternative method
count = {}
flag =1
while(flag):
    num = int(input('Enter a number: '))
    count[num] = count.get(num, 0) + 1;
    flag = int(input('Enter 1 if you want to continue else enter 0: '))
for key, value in count.items():
    print(f'{key} is entered {value} times')
    print()

Enter a number: 12
Enter 1 if you want to continue else enter 0: 1
Enter a number: 11
Enter 1 if you want to continue else enter 0: 1
Enter a number: 12
Enter 1 if you want to continue else enter 0: 1
Enter a number: 11
Enter 1 if you want to continue else enter 0: 1
Enter a number: 12
Enter 1 if you want to continue else enter 0: 0
12 is entered 3 times

11 is entered 2 times

## default  dictonary

In [2]:
from collections import defaultdict
animals = defaultdict(list)
animals

defaultdict(list, {})

In [4]:
animals['e'].append("Elephant")
animals
animals['e'].append("Elora")
print(animals['a'])
animals

[]

defaultdict(list, {'e': ['Elephant', 'Elora', 'Elephant', 'Elora'], 'a': []})

# List comprehension

In [ ]:
# syntax------
# [expression loop  conditions]

In [11]:
import random
a = [random.randint(10, 100) for n in range(20)]
print(a)

[86, 82, 31, 39, 13, 34, 99, 97, 38, 85, 30, 64, 21, 41, 48, 18, 62, 40, 99, 14]

In [13]:
b = [(x, x**2, x**3) for x in range(10)]
print(b)

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729)]

In [1]:
a = [int(x) for x in ['10', '20', '30', '40']]
print(a)

[10, 20, 30, 40]

In [3]:
a = [n for n in range(10, 31) if n%2==0]
print(a)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [4]:
a = [num for num in a if num<20 or num>50]
print(a)

[10, 12, 14, 16, 18]

In [6]:
# If we have if else then we use it before the loop
b = ['!' if alphabet in 'aeiou' else alphabet for alphabet in 'Technical']
print(b)

['T', '!', 'c', 'h', 'n', '!', 'c', '!', 'l']

In [8]:
arr = [[1, 2, 3, 4], [5, 6,7, 8], [10, 11, 12, 13]]
b = [n for ele in arr for n in ele]
c = [*arr[0], *arr[1], *arr[2]]
print(f'b = {b}, c = {c}')

b = [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13], c = [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13]

In [10]:
lst = [a+b for a in [1, 2, 3] for b in [3, 4, 5]]
print(lst)

[4, 5, 6, 5, 6, 7, 6, 7, 8]

In [5]:
# consider 1st loop as inner loop and 2nd one as outer loop 
lst1 = [[a+b for a in ['a', 'b', 'c',]] for b in ['d', 'e', 'f']]
print(lst1)

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [14]:
c = [(i, j, k) for i in [1, 2, 3] for j in [1, 2, 3] for k in [1, 2, 3] if i!=j\
    and j!=k and k!=i]
print(c)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Set comprehension

In [19]:
s = {x**2 for x in range(10)}
print(s)
print(sorted(s))

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
c = {num for num in s if num<20 or num>50}
print(c)

{0, 1, 64, 4, 9, 16, 81}

# Dictonary comprehension

In [7]:
d = {'a': 1, 'b':2, 'c': 3,'d': 4}
d1 = {k: v**3 for(k, v) in d.items()}
print(d1)

{'a': 1, 'b': 8, 'c': 27, 'd': 64}

In [27]:
d2 = {k: v**3 for(k, v) in d.items() if v>3}
print(d2)

{'d': 64}

In [8]:
# paranthesis is optional
d3 = {k: ('Even'if v%2==0 else 'Odd') for (k, v) in d.items()}
print(d3)

{'a': 'Odd', 'b': 'Even', 'c': 'Odd', 'd': 'Even'}

In [46]:
# eg
import random
#r = {int(15 + 30*random.random()) for num in range(10)}
r = {int(random.randint(15, 45)) for num in range(10)}
print(r)
count = len({num for num in r if num<30})
print(count)
s = {num for num in r if num<30}
type(s)
r -= s
print(r)

{42, 43, 44, 45, 16, 21, 22, 27, 28}
5
<class 'set'>
{42, 43, 44, 45}

In [51]:
lst = [(), (1, 2), (), (3, 4),(4, 5), (6, 7), (),(), (8, 9)]
lst = [ele for ele in lst if ele]
print(lst)

[(1, 2), (3, 4), (4, 5), (6, 7), (8, 9)]

In [56]:
s1 = 'dreams may change, but friends are forever'

s2 = [" ".join(w.capitalize() for w in s1.split())]
s3 = s2[0]
print(s3)

s2 = " ".join(w.capitalize() for w in s1.split())

print(s2, type(s2))
print(s1.title())

Dreams May Change, But Friends Are Forever
Dreams May Change, But Friends Are Forever <class 'str'>
Dreams May Change, But Friends Are Forever

In [57]:
#eg 
d = {'Tub': 1, 'Toothbrush': 2, 'Towel': 3, 'Nailcutter':4}
d = {''.join(alpha for alpha in k if alpha not in 'aeiou'):v for (k,v) in d.items()}
print(d)

{'Tb': 1, 'Tthbrsh': 2, 'Twl': 3, 'Nlcttr': 4}

In [12]:
import time
mat1 = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
mat2 = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
mat3 = [[0,0,0,0], [0,0,0,0],[0,0,0,0]]
for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        mat3[i][j] = mat1[i][j] + mat2[i][j]
print(mat3)
# numpy way
import numpy
mat1 = numpy.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
mat2 = numpy.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
mat3 = numpy.array([[0,0,0,0], [0,0,0,0],[0,0,0,0]])
mat3 = mat1+mat2
print(mat3)

[[2, 4, 6, 8], [10, 12, 14, 16], [18, 20, 22, 24]]
[[ 2  4  6  8]
 [10 12 14 16]
 [18 20 22 24]]

In [52]:
# if you want to see time taken to do addition then there it is
import time
import numpy
before = time.time()
mat1 = numpy.arange(1,1000001).reshape(1000,1000)
mat2 = numpy.arange(1,1000001).reshape(1000,1000)
mat3 = mat1 + mat2
after  = time.time()
print(after- before)

0.0400090217590332

In [57]:
import time
before = time.time()
mat1 = [[n for n in range(1,101)] for i in range(101)]
mat2 = [[n for n in range(1,101)] for i in range(101)]
mat3 = mat1 + mat2
after = time.time()
print(after-before)

0.00500798225402832

In [ ]:
# see the time difference

In [20]:
mat3 = [[mat1[i][j]+ mat2[i][j] for j in range(len(mat1[0]))] for i in range(len(mat1))]
print(mat3)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [22, 24, 26, 28, 30, 32, 34, 36, 38, 40], [42, 44, 46, 48, 50, 52, 54, 56, 58, 60], [62, 64, 66, 68, 70, 72, 74, 76, 78, 80], [82, 84, 86, 88, 90, 92, 94, 96, 98, 100], [102, 104, 106, 108, 110, 112, 114, 116, 118, 120], [122, 124, 126, 128, 130, 132, 134, 136, 138, 140], [142, 144, 146, 148, 150, 152, 154, 156, 158, 160], [162, 164, 166, 168, 170, 172, 174, 176, 178, 180], [182, 184, 186, 188, 190, 192, 194, 196, 198, 200]]

In [65]:
# eg
emp = {'A101': {'name': 'Ashish', 'age': 30, 'salary': 21000},
      'B102': {'name': 'Dinesh', 'age': 25, 'salary': 12200},
      'A101': {'name': 'Ramesh', 'age': 28, 'salary': 11000},
      'D104': {'name': 'Akheel', 'age': 30, 'salary': 18000},
      'A105': {'name': 'Akaash', 'age': 32, 'salary': 20000}
      }
d1 = {k:v for (k,v) in emp.items() if k.startswith('A')}
d2 = {k:v['name'] for (k,v) in emp.items()}
d3 = {k: v['age'] for (k,v) in emp.items()}
d4 = {k: v['name'] for (k,v) in emp.items() if v['name'].startswith('A')}
d5 = {k: v['age'] for (k,v) in emp.items() if v['age']>30}
d6 = {k:v['salary'] for (k,v) in emp.items() if v['salary']>=13000 and v['salary']<=20000} 
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)
print(d6)

{'A101': {'name': 'Ramesh', 'age': 28, 'salary': 11000}, 'A105': {'name': 'Akaash', 'age': 32, 'salary': 20000}}
{'A101': 'Ramesh', 'B102': 'Dinesh', 'D104': 'Akheel', 'A105': 'Akaash'}
{'A101': 28, 'B102': 25, 'D104': 30, 'A105': 32}
{'D104': 'Akheel', 'A105': 'Akaash'}
{'A105': 32}
{'D104': 18000, 'A105': 20000}

# Functions

In [6]:
def fun1():
    print("Reached fun1")
    def fun2():
        print("Inner avatar")
    print("outer avatar")
    fun2()
    
fun1()

Reached fun1
outer avatar
Inner avatar

In [8]:
fun2() # we donot call inner function like this

NameError: name 'fun2' is not defined

In [68]:
print(type(fun1))

<class 'function'>

In [70]:
def cal_sum(x,y,z):
    return x+y+z
s1 = cal_sum(10, 20, 30)
s1

60

In [45]:
# we can return multiple value if we put them in a list/
# tuple/set/dictonaries
# a function that reaches at the end of the function
# without a return statement will always return None
# let's see an example of that

def func(radius, sides):
    AreaOfCircle = 3.1415 * radius*radius
    PeriOfCircle = 2* 3.1415 * radius
    
    AreaOfSquare = sides**2
    PeriOfSquare = 4*sides
    ans = [AreaOfCircle, PeriOfCircle, AreaOfSquare, PeriOfSquare]
    return ans
def main():
    r = int(input("Enter the radius of a circle: "))
    s = int(input("Enter the side of a square: "))
    a = func(r,s)
    print(f'The area of circle is {a[0]}')
    print(f'The perimeter of circle is {a[1]}')
    print(f'The area of square is {a[2]}')
    print(f'The area of square is {a[3]}')
if __name__ == '__main__':
    main()

Enter the radius of a circle: 2
Enter the side of a square: 4
The area of circle is 12.566
The perimeter of circle is 12.566
The area of square is 16
The area of square is 16

# There are four types of arguments
   1. Positional arguments
   2. keyword arguments
   3. variable-length Positional arguments
   4. variable- length keyword arguments
   
#### positional and keyword arguments are also called required arguments
#### Variable-length arguments are called optional arguments

In [74]:
# positional arguments must be passed in correct positional order

In [10]:
# keyword arguments can be passed out of order.
#eg
def print_it(i, a, str):
    print(i,a, str)
print_it(a = 3.14, i=10, str ='Sicilian')
print_it(str ='Sicilian', a = 3.14, i = 10)

10 3.14 Sicilian
10 3.14 Sicilian

In [77]:
# in a call we can use positional as well as keyword arguments
# if we do so the positional must precede keyword arguments

In [48]:
#eg
print_it(10, a = 3.13, str = 'Ngp')
# we cannot do this
#print_it(a = 3.13, 10, str = 'Raze')

10 3.13 Ngp

In [79]:
# sometimes number of positional arguments to be passsed
# is not fixed then we use variable-length positional
# arguments

## *args

In [82]:
def prints_it(*args):
    print()
    for var in args:
        print(var, end=' ')
prints_it(10)
prints_it(10, 3.14)
prints_it(10, 3.14, 'Sicilian')
prints_it(10, 3.14, 'Sicilian', 'Punekar')

10
10 3.14
10 3.14 Sicilian
10 3.14 Scilian Punekar

## args used in defination is a tuple.* indicates that it will hold all the arguments passed to prints_it()

In [83]:
# sometimes keyword arguments to be passed is not fixed,
# in such cases, variable -length keyword arguments can
# be received using *kwargs

In [87]:
def prints_it(**kwargs):
    print()
    for name, value in kwargs.items():
        print(name,'=', value, end = ', ')
prints_it(a =10)
prints_it(a=10, b= 3.14)
prints_it(a=10, b =3.14)
prints_it(a=10, b=3.14, s ='Sicilian')

a = 10,
a = 10, b = 3.14,
a = 10, b = 3.14,
a = 10, b = 3.14, s = Sicilian,

## kwargs used in defination of prints_it() is a dictonary containing variable names as keys and their values as values. ** indicates that it will hold all the arguments passed to prints_it()

### if function recieves required as well as optional
### argument then they must occurs in following order
 - positional arguments
 - variable length positional arguments
 - keyword arguments
 - variable length keyword arguments

In [88]:
def print_it(i,j, *args, x,y, **kwargs):
    print()
    print(i,j, end=' ')
    for var in args:
        print(var, end= ' ')
    print(x, y, end=' ')
    for name, value in kwargs.items():
        print(name, value, end=' ')
print_it(10,20, x=30, y=40)
print_it(10, 20, 100, 200, x=30, y=40)
print_it(10, 20, 100, 200, y=78, x=35)
print_it(10, 20, 100, 200, x =40, y =50, a=32, b=34, c=9, d=12)

10 20 30 40
10 20 100 200 30 40
10 20 100 200 35 78
10 20 100 200 40 50 a 32 b 34 c 9 d 12

In [ ]:
# nothing left for required argument(keyword argument)

In [89]:
print_it(10, 20, 100, 200)

TypeError: print_it() missing 2 required keyword-only arguments: 'x' and 'y'

In [49]:
#eg
# def fun(b =100, c=3.14, a) gives error
def fun(a,b= 100, c=3.14):
    print(a,b,c)
    return a+b+c
w = fun(10)
x = fun(20, 50)
y = fun(30, 60, 6.28)
z = fun(1, c=3, b=5)
print(w,x,y,z)

10 100 3.14
20 50 3.14
30 60 6.28
1 5 3
113.14 73.14 96.28 9

## Unpacking arguments

In [93]:
def print_it(a,b,c,d,e):
    print(a,b,c,d,e)
lst = [10,20,30,40,50]
tpl = ('A','B','C','D','E')
s = {1,2,3,4,5}
print_it(*lst)
print_it(*tpl)
print_it(*s)

10 20 30 40 50
A B C D E
1 2 3 4 5

In [50]:
def print_it(name = 'Sanjay', marks=75):
    print(name,marks)
d = {'name':'Anil', 'marks':50}
print_it(*d)
print_it(**d)

name marks
Anil 50

In [96]:
# In C we can only return only one value at a time but in Python there is no such Issue
def cal_sum_prod(x,y,z):
    ss = x+y+z
    pp = x*y*z
    return ss,pp
a,b = cal_sum_prod(2,4,9)
print(a,b) # return in form of a tuple

15 72

In [1]:
#eg
def ispangram(s):
    alphaset = set('abcdefghijklmnopqrstuvwxyz')
    return alphaset <= set(s.lower())
print(ispangram('''The quick brown fox jumps over the lazy
                dog'''))

True

In [11]:
def convert(s1):
    item = [s for s in s1.split('-')]
    item.sort()
    s2 = '.'.join(item)
    return s2
s = 'here-come-the-dot-followed-by-dashes'
t = convert(s)
print(t)

by.come.dashes.dot.followed.here.the

In [2]:
def generate_list():
    lst = []
    for i in range(1, 21):
        lst.append((i, i**2, i**3))
    return lst
I = generate_list()
print(I)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000), (11, 121, 1331), (12, 144, 1728), (13, 169, 2197), (14, 196, 2744), (15, 225, 3375), (16, 256, 4096), (17, 289, 4913), (18, 324, 5832), (19, 361, 6859), (20, 400, 8000)]

In [20]:
def is_palindrome(s):
    t = s.lower()
    lst = list(t)
    lst.reverse()
    x = ''.join(lst)
    if(x==t):
        return True
    else:
        return False
A = is_palindrome('Malayalam')
print(A)

True

In [68]:
#eg 
def ispalindrome(s):
    t = s.lower()
    left =0
    right = len(t)-1
    while(right>=left):
        if t[left]==' ':
            left+=1
        if t[right] ==' ':
            right-=1
        if t[left]!=t[right]:
            return False
        left +=1
        right -=1
    return True

def ispalindrome2(s):
    u = [y for y in list(s.lower()) if y != ' ']
    t = [x for x in list(reversed(s.lower())) if x != ' ']
    if(u == t):
    	return True
    else:
        return False

print(ispalindrome('Malayalam'))
print(ispalindrome2('Rats live on no evil star'))
print(ispalindrome('Murder for a jar of red rum'))

True
True
True

In [12]:
def convert(s):
    words = [word for word in s.split()]
    return ' '.join(sorted(set(words)))
print(convert('Sakhi was a singer because her mother was a singer, and Sakhi\'s mother was a singer because her father was a singer'))

Sakhi Sakhi's a and because father her mother singer singer, was

In [16]:
def count_alphabet_digits(s):
    d= {'Digits':0, 'Alphabet':0}
    for ch in s:
        if ch.isalpha():
            d['Alphabet']+=1
        elif ch.isdigit():
            d['Digits']+=1
        else:
            pass
    return d

d = count_alphabet_digits('James Bond 007')
print(d)

{'Digits': 3, 'Alphabet': 9}

# Very very IMP

In [55]:
import operator
def frequency(s):
    freq = {}
    for word in s.split():
        freq[word] = freq.get(word, 0) + 1
    return freq
sentence = "It is true for all\
that that refers to that is not the same that\
that refers to that"
d = frequency(sentence)
words = sorted(d.items(), key = operator.itemgetter(1))  # gives list of tuples
for word in words:
    print('%s : %d' %(word[0], word[1]))

It : 1
true : 1
for : 1
allthat : 1
not : 1
the : 1
same : 1
thatthat : 1
is : 2
refers : 2
to : 2
that : 3

In [23]:
#eg
d = {'name': 'Gopi', 'Class': 12, 'Age': 16, 'No.': 73}
d['class'] = d.get('class', 1)+2
print(d)

{'name': 'Gopi', 'Class': 12, 'Age': 16, 'No.': 73, 'class': 3}

In [26]:
def create_sent1(sub, ver, obj):
    lst = []
    for i in range(len(sub)):
        for j in range(len(ver)):
            for k in range(len(obj)):
                sent = sub[i] + ' ' + ver[j] + ' ' + obj[k]
                lst.append(sent)
    return lst
def create_sent2(sub, ver, obj):
    return [(s + ' '+v+' '+ o) for s in sub for v in ver for o in obj]
subject = ['He', 'She']
verb = ['loves', 'hates']
objects = ['TV series', 'Netflix']
lst1 = create_sent1(subject, verb, objects)
for I in lst1:
    print(I)
print()
lst2 = create_sent2(subject, verb, objects)
for I in lst2:
    print(I)

He loves TV series
He loves Netflix
He hates TV series
He hates Netflix
She loves TV series
She loves Netflix
She hates TV series
She hates Netflix

He loves TV series
He loves Netflix
He hates TV series
He hates Netflix
She loves TV series
She loves Netflix
She hates TV series
She hates Netflix

In [60]:
l = [str(x)+str(y)+str(z) for x in range(2) for y in range(2) for z in range(2)]
l
# binary

['000', '001', '010', '011', '100', '101', '110', '111']

# Recursion

In [28]:
def factorial(n):
    if n ==1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

In [31]:
def sumdig(n):
    if n==0:
        return 0
    else:
        return n%10 + sumdig(int(n/10))
print(sumdig(564))

15

# Problem with Unknown Loops

if we are to define a function which generates and returns a list of lists containing all possible combination of 1,2,3 we can do so through following program:

In [73]:
def generate(n):
    lol = [[] for i in range(n**n)]
    #lol = []
    pos = 0
    for i in range(1, n+1):
        for j in range(1, n+1):
            for k in range(1, n+1):
                t = [i, j, k]
                lol[pos] = t #lol.append(t)
                pos+=1
    return lol

I = generate(3)
print(I)

[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]

Since we generate 27 combinations out of 1,2,3, list of lists lol is st uo with 27 empty lists. Then through 3 for loops we have generate each sub-list and inserted it in lol.

If we are to generate all possible combinations of 1,2,3,4 then we will have to introduce one more for loop. If generate() is to remain generic we cannot dynamically add this loop.

In [14]:
def generate(n):
    t =[]
    lol = [[] for i in range(n**n)]
    helper(n,t,lol)
    return(lol)
def helper(n,t,lol):
    global j
    if len(t) == n:
        lol[j] = lol[j]+t
        j+=1
        return
    for i in range(1, n+1):
        t.append(i)
        helper(n, t, lol)
        t.pop()
j=0
I = generate(3)
print(I)

[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]

### There are 2 types of recursions:
1. Head 
2. Tail

In [3]:
# 1. Head recursion
def headprint(n):
    if n==0:
        return
    else:
        headprint(n-1)
        print(n)
headprint(10)

1
2
3
4
5
6
7
8
9
10

In head recursion we don't get the result of our calculation untill we have returned from every recursion call. So the state(local variables) has to be saved before making the next recursion call. This results in consumption of more memory.

In [25]:
# 2. Tail Recursion
def tailprint(n):
    if n==11:
        return
    else:
        print(n)
        tailprint(n+1)
tailprint(1)

1
2
3
4
5
6
7
8
9
10

In [2]:
# default recursion limits is usually set to a
#small value 10**4 APPROX

###### setrecursionlimit() function in sys module permits us to set the recursion limit. Once set 10^6 large input can be handeled without any error

In [1]:
def factorize(n,i):
    if i<=n:
        if n%i == 0:
            print(i, end=',')
            n = n//i
        else:
            i+=1
        factorize(n, i)
num = int(input('Enter a number: '))
print('Prime factor are: ')
factorize(num,2)

Enter a number: 50
Prime factor are:
2,5,5,

In [12]:
def rsum(num):
    if num!=0:
        t = num%10
        num = int(num/10)
        sum = t + rsum(num)
        
    else:
        return 0
    return sum
    
n = int(input('Enter number: '))
rs = rsum(n)
print('Sum of digits = ', rs)

Enter number: 54321
Sum of digits =  15

In [13]:
def papersize(i,n,l,b):
    if n!=0:
        print(f'A{i}: L = {int(l)} B = {int(b)}')
        newb = l/2
        newl = b
        n-=1
        i+=1
        papersize(i,n,newl,newb)
papersize(0,7, 1189, 841)

A0: L = 1189 B = 841
A1: L = 841 B = 594
A2: L = 594 B = 420
A3: L = 420 B = 297
A4: L = 297 B = 210
A5: L = 210 B = 148
A6: L = 148 B = 105

In [14]:
def fibo(old, current, terms):
    if terms>=1:
        new = old + current
        print(f'{new}', end='\t')
        terms-=1
        fibo(current, new, terms)
old =-1
current = 1
fibo(old, current, 15)

0	1	1	2	3	5	8	13	21	34	55	89	144	233	377

In [28]:
import sys
def dec_to_binary(n):
    r = n%2
    n= int(n/2)
    if n!=0:
        dec_to_binary(n)
    print(r,end=' ')     # head recursion
sys.setrecursionlimit(10**6)
num = int(input("Enter a number: "))
print('The binary equivalent is: ')
dec_to_binary(num)

Enter a number: 43
The binary equivalent is:
1 0 1 0 1 1

In [15]:
def generator(n):
    generated_list = [[] for i in range(n**n)]
    tmp = []
    helper(generated_list, tmp, n)
    return generated_list
def helper(generated_list, tmp, n):
    global i
    if len(tmp) == n:
        generated_list[i] = generated_list[i] + tmp
        i+=1
        return
    else:
        for num in range(1, n+1):
            tmp.append(num)
            helper(generated_list, tmp, n)
            tmp.pop()
i = 0
generate = generator(2)
print(generate)
if generate

[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]